.firebaserc
firebase.json
.firebase/ 
.env
firebaseConfig.js
firebase-debug.log
cors.json
package-lock.json
package.json
node_modules/

# React App
react-app/node_modules/
react-app/dist/
react-app/.env*

